.Centered {
    position: absolute;
    top: 25vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 65px;


}

.kuva {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.kuva1 {
    position: absolute;
    top:30%;
    left:35%;
}
.kuvatuo {
    position: absolute;
    top: 65%;
    left: 30%;
    text-align: center;
    color:white;
}
.kuvatuo2 {
    position: absolute;
    top: 65%;
    left: 55%;
    text-align: center;
    color:white;
}
.boxtuote1 {
    position: absolute;
    top:100%;
    left: 59%;
    transform: translate(-50%, -50%);
}
.boxtuote2 {
    position: absolute;
    top:100%;
    left: 19%;
    transform: translate(-50%, -50%);
}

.teksti {
    position: absolute;
    top: 70vh;
    left: 50vw;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
    transform: translate(-50%, -50%);

}
.tekstit {
    position: absolute;
    top: 70%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    padding: 316px 44px 660px 73px;
    background-color: grey;
}
.box {
    position: absolute;
    top: 8px;
    right: 16px;
}
.box2 {
    position: absolute;
    top: 8px;
    right: 130px;
}
.box1 {
    position: absolute;
    top: 8px;
    right: 239px;
}
.tuoteteksti1 {
    position: absolute;
    top:112%;
    left:50%;
    color: white;
    transform: translate(-50%, -50%);

}
.tuoteteksti2 {
    position: absolute;
    top:77%;
    left:50%;
    color: white;
    transform: translate(-50%, -50%);
}